[submodule "src/plugin/source_code/paper/LuckPerms"]
	path = src/plugin/source_code/paper/LuckPerms
	url = git@github.com:basilelt/LuckPerms.git
[submodule "src/plugin/source_code/velocity/LuckPerms"]
	path = src/plugin/source_code/velocity/LuckPerms
	url = git@github.com:basilelt/LuckPerms.git
