Vagrant.configure("2") do |config|
  config.vm.box = "{{ vagrant_custom_box_name }}"
  config.vm.provider "{{ vagrant_node_vm_provider }}" do |vb|
    vb.name = "{{ vagrant_node_type }}"
    vb.gui = false
    
    # Bridged Network
    config.vm.network "public_network", bridge: "{{ vagrant_bridge_interface | default('') }}"

    vb.memory = "{{ vagrant_node_memory }}"
    vb.cpus = {{ vagrant_node_cpu }}

    # Enable VT-x/AMD-V
    vb.customize ["modifyvm", :id, "--hwvirtex", "on"]
    vb.customize ["modifyvm", :id, "--vtxvpid", "on"]
    vb.customize ["modifyvm", :id, "--vtxux", "on"]

    # Send the host ssh key to the guest
    vb.customize ["guestproperty", "set", :id, "/VirtualBox/GuestInfo/Data/GUI/SSH/PublicKey", "{{ public_key_content['content'] | b64decode | trim }}"]
  end
end
