apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: 3306
      protocol: TCP
  selector:
    app: mysql
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
  selector:
    app: redis
---
apiVersion: v1
kind: Service
metadata:
  name: game-server
spec:
  type: ClusterIP
  ports:
    - port: 25565
      targetPort: 25565
      protocol: TCP
  selector:
    app: game-server
---
apiVersion: v1
kind: Service
metadata:
  name: lobby
spec:
  type: ClusterIP
  ports:
    - port: 25565
      targetPort: 25565
      protocol: TCP
  selector:
    app: lobby
---
apiVersion: v1
kind: Service
metadata:
  name: proxy
spec:
  type: LoadBalancer
  ports:
    - port: 25565
      targetPort: 25577
      protocol: TCP
  selector:
    app: proxy
---
apiVersion: v1
kind: Service
metadata:
  name: flask
spec:
  type: ClusterIP
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
  selector:
    app: flask